body {
  font-family: Arial, sans-serif;
  background: #111;
  color: white;
  margin: 0;
  display: flex;
  height: 100vh; /* pour que flex fonctionne sur toute la fenêtre */
  overflow: hidden; /* évite les scrollbars */
}

.panel {
  width: 320px;
  padding: 20px;
  background: #1c1c1c;
  height: 100vh; /* plein hauteur */
  overflow-y: auto;
  border-right: 1px solid #333;
  box-sizing: border-box;
  flex-shrink: 0; /* ne pas rétrécir */
}

.panel label {
  display: block;
  margin-top: 14px;
  font-size: 0.8rem;
  opacity: 0.7;
}

.panel input,
.panel textarea,
.panel select {
  width: 100%;
  margin-top: 5px;
  padding: 6px;
  border-radius: 6px;
  border: none;
  background: #2a2a2a;
  color: white;
  box-sizing: border-box;
}

textarea {
  height: 90px;
  resize: vertical;
}

#previewContainer {
  flex: 1; /* prend toute la largeur restante */
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  height: 100vh; /* plein hauteur */
  box-sizing: border-box;
  overflow: hidden;
}

#toggleBrush {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  border: none;
  border-radius: 6px;
  background-color: #555;
  color: rgb(255, 255, 255);
  font-size: 0.9rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

#toggleBrush.active {
  background-color: #fff;
  color: black;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

#leftTools {
  position: absolute;
  bottom: 20px;
  right: 350px;

  display: flex;
  flex-direction: column;
  gap: 10px;

  padding: 12px;
  background: #1c1c1c;
  border-radius: 10px;
  border: 1px solid #333;

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
  z-index: 10;
}


#leftTools button {
  padding: 8px 14px;
  font-size: 0.85rem;
  font-weight: 600;

  background: #2a2a2a;
  color: white;

  border: none;
  border-radius: 6px;
  cursor: pointer;

  transition: background 0.2s ease, transform 0.15s ease, box-shadow 0.2s ease;
}

#leftTools button:hover {
  background: #3a3a3a;
  transform: translateY(-1px);
}

#leftTools button:active {
  transform: translateY(0);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.6);
}

