body {
  font-family: Arial, sans-serif;
  background: #111;
  color: white;
  margin: 0;
  display: flex;
  height: 100vh; /* pour que flex fonctionne sur toute la fenêtre */
  overflow: hidden; /* évite les scrollbars */
}

.panel {
  width: 320px;
  padding: 20px;
  background: #1c1c1c;
  height: 100vh; /* plein hauteur */
  overflow-y: auto;
  border-right: 1px solid #333;
  box-sizing: border-box;
  flex-shrink: 0; /* ne pas rétrécir */
}

.panel label {
  display: block;
  margin-top: 14px;
  font-size: 0.8rem;
  opacity: 0.7;
}

.panel input,
.panel textarea,
.panel select {
  width: 100%;
  margin-top: 5px;
  padding: 6px;
  border-radius: 6px;
  border: none;
  background: #2a2a2a;
  color: white;
  box-sizing: border-box;
}

textarea {
  height: 90px;
  resize: vertical;
}

#previewContainer {
  flex: 1; /* prend toute la largeur restante */
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  height: 100vh; /* plein hauteur */
  box-sizing: border-box;
  overflow: hidden;
}

#toggleBrush {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  border: none;
  border-radius: 6px;
  background-color: #555;
  color: black;
  font-size: 0.9rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

#toggleBrush.active {
  background-color: #fff;
  color: black;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}
